h2 Уважаемый(ая) #{userName}
p Вы подписаны на кухню
    a(href=`${site}/kitchens/${kitchenUuid}`) #{kitchenTitle}
p По этой кухне добавлен новый рецепт:
    a(href=`${site}/recipe/${recipeUuid}`) #{recipeTitle}
    | автора
    a(href=`${site}/authors/${authorUuid}`) #{author}:
p  #{description}
p Вы можете перейти в
    a(href=`${site}/personal/${userUuid}`) личный кабинет
    | для изменения настроек уведомлений